{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <style type=text/css>
    h1 { margin: 0 0 10px 0; background: url({{ url_for('static', filename='voc/logo_wifidomo.png') }}) no-repeat center; width 880px;height: 200px; }
    h1 span, p.tagline { display: none;
  </style>
  <script type=text/javascript>
    $(function() {
      $('h1').bind('mousedown contextmenu', function(event) {
        if (event.button != 2)
          return;
        var box = $('div.logohint');
        if (!box.is(':visible'))
          box.animate({'height': 'show', 'opacity': 'show'}, 100);
        event.preventDefault();
        event.returnValue = false;
        return false;
      });
    });
  </script>
{% endblock %}
{% block body %}
  <body onload="zoom()">
  <h2>Edit {% if form.active %}Active {% endif %}schedule</h2>
  <p>
  <form action="" method=post>
    <dl class=formlist>
      <table>
        <tr>
          <td>Name:</td>
          <td><input type=text name=name value="{{ form.name }}" size=40></td>
        </tr>
        <tr>
          <td>Select target WiFiDomo::</td>
          <td>
            <select name=target_wifidomo>
            {% for entry in wifidomo_list %}
              <option {% if entry['wifidomo_id'] == form.target_wifidomo %} selected {% endif %}
                  value={{ entry['wifidomo_id'] }}>{{ entry['wifidomo_name'] }}</option>
            {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>Select required Preset:</td>
          <td>
            <select name=action_preset>
            {% for entry in preset_list %}
              <option {% if entry['preset_id'] == form.action_preset %} selected {% endif %}
                  value={{ entry['preset_id'] }}>{{ entry['preset_name'] }}</option>
            {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>Start hour:</td>
          <td><input type=int name=start_hr value="{{ form.start_hr }}" size=10></td>
        </tr>
        <tr>
          <td>Start minute:</td>
          <td><input type=int name=start_min value="{{ form.start_min }}" size=10></td>
        </tr>
        <tr>
          <td>Stop hour:</td>
          <td><input type=int name=stop_hr value="{{ form.stop_hr }}" size=10></td>
        </tr>
        <tr>
          <td>Stop minute:</td>
          <td><input type=int name=stop_min value="{{ form.stop_min }}" size=10></td>
        </tr>
        {% if form.active %}
        <tr>
          <td>Schedule is <strong>active</strong>.</td>
        </tr>
        {% endif %}
      </table>
    </dl>
    <fieldset class="days">
      <legend>Day(s) of Week</legend>
      <label for="monday">
        <input type="checkbox" id="monday" name="monday" value="Monday" {% if form.monday %} checked {% endif %} />Mo
      </label>
      <label for="tuesday">
        <input type="checkbox" id="tuesday" name="tuesday" value="Tuesday" {% if form.tuesday %} checked {% endif %} />Tu
      </label>
      <label for="wednesday">
        <input type="checkbox" id="wednesday" name="wednesday" value="Wednesday" {% if form.wednesday %} checked {% endif %} />We
      </label>
      <label for="thursday">
        <input type="checkbox" id="thursday" name="thursday" value="Thursday" {% if form.thursday %} checked {% endif %} />Th
      </label>
      <label for="friday">
        <input type="checkbox" id="friday" name="friday" value="Friday" {% if form.friday %} checked {% endif %} />Fr
      </label>
      <label for="saturday">
        <input type="checkbox" id="saturday" name="saturday" value="Saturday" {% if form.saturday %} checked {% endif %} />Sa
      </label>
      <label for="sunday">
        <input type="checkbox" id="sunday" name="sunday" value="Sunday" {% if form.sunday %} checked {% endif %} />Su
      </label>
    </fieldset>
    <fieldset class="days">
      <legend>Custom cron string:</legend>
      <label for="crontstring">
        <input type="text" id="crontstring" name="crontstring" value="{{ form.crontstring }}"/>
      </label>
    </fieldset>
    <div class="days">
      <input type=submit name=submit value=Submit>
      <input type=submit name=cancel value=Cancel>
      <input type=submit name=delete value=Delete>
      {% if form.active %}<input type=submit name=deactivate value=Deactivate> {% else %}<input type=submit name=activate value=Activate>{% endif %}
    </div>
  </form>
{% endblock %}