{% extends "layout.html" %}

{% block head %}
  {{ super() }}
   <style type=text/css>
    h1 { margin: 0 0 10px 0; background: url({{ url_for('static', filename='voc/logo_wifidomo.png') }}) no-repeat center; width 880px;height: 200px; }
    h1 span, p.tagline { display: none;
  </style>
  <script type=text/javascript>
    $(function() {
      $('h1').bind('mousedown contextmenu', function(event) {
        if (event.button != 2)
          return;
        var box = $('div.logohint');
        if (!box.is(':visible'))
          box.animate({'height': 'show', 'opacity': 'show'}, 100);
        event.preventDefault();
        event.returnValue = false;
        return false;
      });
    });
  </script>
{% endblock %}
{% block title %}WiFiDomo Locations{% endblock %}
{% block body %}
  <small>Please fill in all details.</small>
  <form action="" method=post>
  <table border="0">
    <caption>Location information</caption>
    <tbody>
    <tr>
      <td>
        <table border="0" align="top">
          <tr align="top">
          <td><a>Name:</a></td>
          <td><input type=text name=name value="{{ form.name }}" size=40></td>
          </tr>
          <tr>
          <td>Location code:</td>
          <td><input type=text name=location_code value="{{ form.location_code }}" size=40></td>
          </tr>
          <tr>
          <td>Description:</td>
          <td width="80%"><textarea name=body cols=40 rows=8>{{ form.body }}</textarea></td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
    <p>
      <input type=submit name=submit value=Submit>
      <input type=submit name=delete value=Delete>
      <input type=submit name=cancel value=Cancel>
  </form>
{% endblock %}
